<mat-toolbar color="primary">
  <span>Filament Tracker</span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Purge Matrix">
    <div class="tab-content">
      <app-purge-matrix></app-purge-matrix>
    </div>
  </mat-tab>
  
  <mat-tab label="Filament Colors">
    <div class="tab-content">
      <app-filament-colors></app-filament-colors>
    </div>
  </mat-tab>
  
  <mat-tab label="Filament Types">
    <div class="tab-content">
      <app-filament-types></app-filament-types>
    </div>
  </mat-tab>
</mat-tab-group>
