<mat-toolbar color="primary">
  <span>Filament Tracker</span>
  <span class="spacer"></span>
  <div class="toolbar-actions">
    <button mat-icon-button (click)="exportConfiguration()" matTooltip="Export Configuration">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button (click)="importConfiguration()" matTooltip="Import Configuration">
      <mat-icon>upload</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Purge Matrix">
    <div class="tab-content">
      <app-purge-matrix></app-purge-matrix>
    </div>
  </mat-tab>
  
  <mat-tab label="Filament Colors">
    <div class="tab-content">
      <app-filament-colors></app-filament-colors>
    </div>
  </mat-tab>
  
  <mat-tab label="Filament Types">
    <div class="tab-content">
      <app-filament-types></app-filament-types>
    </div>
  </mat-tab>
</mat-tab-group>
